body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(180deg, #114664, #2393A0);
    height: 100vh;
    overflow: hidden;
    
    
}
.container{
    border: 4px solid #26A6B5;
    display: flex;
    position: relative;
    height: 550px;
    width: 800px;
    background: #081933;
    border-radius: 20px;
    top: 85px;
    left: 22%;
    position: absolute;
    opacity: 0.1;
}
.main-image{
    flex-basis: 50%;

}

.main-image img{
    height: 550px;
    width: 375px;
}
.center{
    flex-basis: 50%;
    position: relative;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    width: 600px;
    background: #081933;
    border-radius: 0 0 10px;
    font-size: 14px;
}
.center h1{
    margin-top: 80px;
    text-align: center;
    padding: 0 0 20px 0;
    color: #F4EEF2;
    font-size: large;
}
.center form{
    padding: 0 70px;
    box-sizing: border-box;
}
form[method=post]{
    margin-top: 20px;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;


}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #e9f4fb;

}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #26A6B5;
    transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #26A6B5;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.pass{
    
    margin-top: 10px;
    margin-left: 75px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover{
    text-decoration: none;
    color: #26A6B5;
}

input[type=submit]{
    width:75%;
    margin: 0 30px;
    height:40px;
    border: 1px #26A6B5;
    background: #26A6B5;
    border-radius: 15px;
    font-size: 18px;
    color: #e9f4fb;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    
}
input[type=submit]:hover{
    border-color: #26A6B5;
    transition: .5s;
}
.signup_link{
    margin: 15px;
    text-align: center;
    font-size: 16px;
    color: #666666;
    margin-top: 80px;
    font-size: 14px;
}
.signup_link a{
    color: #26A6B5;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: none;
}

/*forgot password*/

.wrapper{
    width: 100%;
    height: 100vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.container1{
    background-color: #fff;   
    width: 500px;
    padding: 30px;
    border-radius:16px;
    background-color: rgba(0, 0, 0, 0.08)0px 4px 12px;
    
}
.title-section{
    margin-bottom: 30px;
}
.title{
    color: black;
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 10px;

}
.para{
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    text-transform: capitalize;

}
.input-group{
    position: relative;
    z-index: 1; 
    
}
.input-group .label-title{
    color: black;
    text-transform: capitalize;
    margin-bottom: 11px;
    font-size: 14px;
    display: block;
    font-weight: 500;

}
.input-group input{
width: 460px;
background-color: none;
color: black;
height: 50px;
font-size: 16px;
font-weight: 300;
border: 1px solid #fff;
padding: 9px 18px 9px 52px;
outline: none;
border-radius: 3px;
margin-bottom: 19px;
opacity: 0.3;
}
.input-group input::placeholder{
    color: black;
    font-size: 16px;
    font-weight: 700;
    height: 50px;

}
.input-group .icon{
    position: absolute;
    color: black;
    left: 13px;
    top: calc(50% - 11px);
    text-align: center;
    font-size: 23px;
}





.back-to-log{
    position: relative;
    z-index: 1; 
    
}
.back-to-log .label-title{
    color: black;
    text-transform: capitalize;
    margin-bottom: 11px;
    font-size: 14px;
    display: block;
    font-weight: 500;

}
.back-to-log input{
width: 460px;
background-color: none;
color: black;
height: 50px;
font-size: 16px;
font-weight: 300;
border: none;
padding: 9px 18px 9px 52px;
outline: none;
border-radius: 3px;
margin-bottom: 19px;
opacity: 0.3;
}
.back-to-log input::placeholder{
    color: black;
    font-size: 16px;
    font-weight: 700;
    height: 50px;

}
.back-to-log .icon{
    position: absolute;
    color: black;
    left: 13px;
    top: calc(50% - 11px);
    text-align: center;
    font-size: 23px;
}
.submit-btn {
    width: 120px;
    background:linear-gradient(to right, #2393A0, #114664);
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    padding: 13px 24px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}
.submit-btn:hover{
    opacity: 0.8;
}

.back-to-logins {
    text-align: center; 
    z-index: auto;
    text-decoration: none;
    cursor: pointer;
}

.back-to-logins a {
    text-decoration: none; 
    color:linear-gradient(180deg, #114664, #2393A0);
    cursor: pointer;
    padding: 10px;
    color: #fff;
    background: #114664;
    border-radius: 15px;
    z-index: 1;
}
    .code-container {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .code-input {
        width: 40px;
        height: 60px;
        font-size: 24px;
        width: 40px;
        height: 60px;
        font-size: 24px;
        margin: 5px;
        text-align: center;
        border: 2px solid #26A6B5;
        border-radius: 10px;
        background: none;
        color: #e9f4fb;
        outline: none;
        z-index: 2;
        
    }